@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);

  overflow-x: hidden;
}

/* Custom Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Gradient Text Utility */
.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-600 via-purple-600 to-orange-600;
}

/* Gradient Underline Utility */
.gradient-underline {
  @apply bg-gradient-to-r from-blue-600 via-purple-600 to-orange-600;
}